/vendor/
/node_modules/
.env
.env.backup
.env.local
.env.production
.env.testing
.deploy-backups/
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
.deploy_timestamp
.deploy_url
.phpunit.result.cache
*.log
*.ai
*.psd
*.raw
.DS_Store
Thumbs.db
dist/
.idea/
.vscode/
build/__pycache__/
__pycache__/
